.custom-radio {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.custom-radio::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em currentColor;
}

.custom-radio:checked::before {
    transform: scale(1);
}

.spinner-border {
    border-top-color: transparent;
    border-right-color: transparent;
}

.object-contain {
    object-fit: contain;
    width: 100%;
    height: 100%;
}