.center-image {
    position: relative;
    width: 400px !important;
    z-index: 99;
}

.secondary-image-container {
    position: absolute;
}

.secondary-image {
    width: 320px !important;
}

.tertiary-image {
    width: 300px !important;
}

@media (max-width: 450px) {
    .center-image {
        width: 120px !important;
    }

    .secondary-image {
        width: 80px !important;
    }

    .tertiary-image {
        width: 80px !important;
    }
    .border-text, .black-dot {
        font-size: 10px;
    }
}